	<%= render "shared/form" %>
	<%= form_tag(@target, :method => "post", :class => "del_form") do %>
		<% @posts.each do |post| %>
			<% if @i==1 then %>
			<hr>
		<div id="post_<%= post.local %>" class="oppost">
		<span class="post_subj"><%= post.subj %></span>&nbsp;
		<span class="post_name">
		<% if post.email == "" then %>
			<%= post.name %>
		<% else %>
			<a href="mailto:
			<%= post.email %>
			">
			<%= post.name %></a>
		<% end %>
		</span>&nbsp;
		<span class="post_trip"><%= post.tripcode %></span>&nbsp;<span class="post_date"><%= post.created_at %></span>
		<span class="post_local"><%= @i %></span>
		<span class="post_id"><a href="/b/res/<%= post.flow.id %>.html#<%= post.local %>">№<%= post.local %></a></span><br>
		<blockquote id="m<%= post.local %>" class="postMessage"><p><%= raw post.body %></p></blockquote>	
		</div>
				<% else %>
		<div class="post" >
	<span class="post_subj"><%= post.subj %></span> <span class="post_name">
	<% if post.email == "" then %>
			<%= post.name %>
		<% else %>
			<a href="mailto:
			<%= post.email %>
			">
			<%= post.name %></a>
		<% end %>
		</span> <span class="post_trip"><%= post.tripcode %></span>
	 <span class="post_date"><%= post.created_at %></span> <span class="post_local"><%= @i %></span>
	 <span class="post_id"><a href="#">№<%= post.local %></a></span><br/>
	 <blockquote id="m<%= post.local %>" class="postMessage"><p><%= raw post.body %></blockquote>
	</div>
		<% end %>
		<% @i+=1 %>
	<% end %>
		
		
		
		
	<% end %>
	
	
	
	
