<div class="post" >
	<span class="post_subj"><%= post.subj %></span> <span class="post_name"><%= post.name %></span> <span class="post_trip"><%= post.tripcode %></span>
	 <span class="post_date"><%= post.created_at %></span> <span class="post_local"><%= @i %></span>
	 <span class="post_id"><a href="#">№<%= post.id %></a></span><br/>
	 <blockquote id="m<%= post.id %>" class="postMessage"><p><%= post.body %></p></blockquote>
</div>
	
